# EDA Model Paper




### We combined three datasets in single CSV file mention below columns belongs to 


### German Credit Data


* checkin_acc	
* duration	
* credit_history	
* amount	
* savings_acc	
* present_emp_since	
* inst_rate	
* personal_status	
* residing_since	
* age	
* inst_plans	
* num_credits	
* job	
* status

###    data_eda


* year	
* region	
* npg	
* birth_rate	
* death_rate	
* migratory_growth	
* population

### Indian_cities


'name_of_city'                  : Name of the City 

'state_code'                    : State Code of the City

'state_name'                    : State Name of the City

'dist_code'                     : District Code where the city belongs ( 99 means multiple district ) 

'population_total'              : Total Population

'population_male'               : Male Population 

'population_female'             : Female Population

'0-6_population_total'          : 0-6 Age Total Population

'0-6_population_male'           : 0-6 Age Male Population


'0-6_population_female'         : 0-6 Age Female Population

'literates_total'               : Total Literates

'literates_male'                : Male Literates

'literates_female'              : Female Literates 

'sex_ratio'                     : Sex Ratio 

'child_sex_ratio'               : Sex ratio in 0-6



'effective_literacy_rate_total' : Literacy rate over Age 7 

'effective_literacy_rate_male'  : Male Literacy rate over Age 7 

'effective_literacy_rate_female': Female Literacy rate over Age 7 

'location'                      : Lat,Lng

'total_graduates'               : Total Number of Graduates

'male_graduates'                : Male Graduates 

'female_graduates'              : Female Graduates

## Kindly change the below cells from markdown to code and execute it

import pandas as pd

import csv

with open("data_set.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("data_set.csv")

df.head()

In [ ]:
German_Credit_Data = df.iloc[:, 22:36]
German_Credit_Data.head(1)

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status,residing_since,age,inst_plans,num_credits,job,status
0,A11,6,A34,1169,A65,A75,4,A93,4,67,A143,2,A173,0

In [ ]:
data_eda = df.iloc[:, 36:]
data_eda.head(1)

,year,region,npg,birth_rate,death_rate,migratory_growth,population
0,1990,Republic of Adygea,1.9,14.2,12.3,NaN,434788.0

In [ ]:
Indian_cities = df.iloc[:, :22]
Indian_cities.head(1)

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675

-----------------
# SECTION A: 20 MARKS
--------------

### 1. Read the dataset(German Credit Data) answer the questions below
  
 A) Draw the Count Plot for the 'Status' Column? (1 Marks)
  
 B) Split the Dataset into Train and Test. Also give us the reason behind your split (2 Marks)
  
 C) Is the Data imbalanced ? If so what types of sampling methods can be used and Write the code for any one type of sampling (No need to execute)? (2 Marks)"

### 2. Read the dataset(German Credit Data.csv) answer the questions below
    
A) Draw the Count Plot for 'Checkin_acc' Column? (1 Marks)

B) How does the distribution of the 'Age' column look like and perform the test of Normality? (2 Marks)

C) How do you handle object variables? Write down the code for encoding? (2 Marks)

### 3.  Read the dataset(data_eda) answer the questions below


  
 a. Check if there is correlation between the variables and write down your observations. (3 marks)
  
 b. Identify regions which saw an increase or decrease in migration using appropriate plots. (2 marks)

### 4. Read the dataset(data_eda) answer the questions below

##### A.	Identify the trend in the growth of population using appropriate plots and write down the observations based on increase or decrease in population over the years. (5 marks)

---------------
# SECTION B: 20 MARKS
------------

### 5. Read the dataset(data_eda) answer the questions below

 A. Separate categorical data and numerical data also each category number of percentages.(5 Marks)
  
 a. Display the count of each variable, null values, distinct values, missing_ratio, skewness and kurtosis in a tabular form. (9 marks) 
  
 b. Plot the distribution of npg, migratory_growth, birth_date and death_rate and check for outliers. Impute the missing values for the column which has more than 25% missing ratio. (6 marks)"

------------
# SECTION C: 30 MARKS

-------------------

### 6. Read the dataset(Indian_cities) answer the questions below
  
  
 a. Plot the distribution of sex ratio and child-sex ratio and state your observations. (Use two separate plots) (5 marks)
  
 b. Identify the top 5 and bottom 5 cities in terms of the number of female graduates (Use two separate plots (5 marks)"

### 7. Read the dataset(Indian_cities) answer the questions below
  
  
 a. Plot the 5 states having lowest sex ratio (3 marks)
  
 b. Identify the top 5 cities which have higher ratio of male to female effective literacy rate (2 marks) 
  
  
 c. Split the column location into two columns ‘latitude’ and ‘longitude’ and replace the location column with the two newly created columns in the original dataframe. (5 marks)"